body{
  background-image: url('../images/22196912.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(89,86,157,255);
  min-height: 900px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
   font-style: normal;
}

.nik{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
   font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ramka {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  border: 2px solid black;
        width: auto;
        height: auto;
        padding: 10px;
        margin: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
}

.ramka2 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  border: 2px solid black;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  position: relative;
  left: 0px;
  bottom: 0px;

}

.ramka3 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  border: 2px solid black;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  position: relative;
  left: 0px;
  bottom: 0px;
}

.ramka4 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  border: 2px solid black;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  position: relative;
  left: 0px;
  bottom: 0px;
}

.ramka5 {
  border: 2px solid black;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  position: relative;
  left: 0px;
  bottom: 0px;
  

}

.song {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  border: 2px solid black;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  position: relative;
  left: 0px;
  bottom: 0px;
}

.roboto-mono-all {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.rivno{
  display: inline-block;
}
